NEXT_PUBLIC_AUTH_SERVER="http://localhost:8000"
NEXT_PUBLIC_CLIENT_ID="client-id-placeholder"
NEXT_PUBLIC_REDIRECT_URI="application-redirect-uri-placeholder"
DATABASE_URL=postgresql://user:password@localhost:5432/auth_db
REDIS_URL=redis://localhost:6379
JWT_ALGORITHM=HS256
JWT_SECRET=your-secret-key-here
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASSWORD=your-app-password
RUN_DB_MIGRATIONS_ON_STARTUP=true


//Railway Environment Variables
DATABASE_URL="${{Postgres.DATABASE_URL}}"
JWT_ALGORITHM="HS256"
JWT_SECRET="secure-random-secret-key"
REDIS_URL="${{Redis.REDIS_URL}}"
SMTP_PASSWORD="your-app-password"
SMTP_PORT="587"
SMTP_SERVER="smtp.gmail.com"
SMTP_USER="your-email@gmail.com"
POSTGRES_PASSWORD="${{Postgres.POSTGRES_PASSWORD}}"
