.venv
__pycache__
instance
*.pyc
*.pyo
.env
.railway.env
/backend/keys
/frontend/admin-console/credentials.json
.admin.pid
.backend.pid
.sample-app.pid
.cf_backend.pid
.cf_frontend.pid
CONTEXT.md
.DS_Store
*.tmp.db
.pytest_cache/
.tmp-test.db
.vscode/


packages/auth-sdk/dist
packages/auth-sdk/node_modules
packages/auth-sdk/.env
packages/auth-sdk/auth-platform-sdk-3.1.0.tgz
next-test-app/node_modules
next-test-app/.env
