{% extends "base_auth.html" %}

{% block title %}Sign in -- {{ app_name }}{% endblock %}
{% block favicon_href %}{{ app_logo_url or '/assets/logo.png' }}{% endblock %}
{% block favicon_script %}<script>(function(){var l=document.querySelector("link[rel='icon']");if(l)l.href="{{ app_logo_url or '/assets/logo.png' }}";})();</script>{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/auth/auth.css?v=20260325a">
{% endblock %}

{% block content %}
{% include "partials/auth_content.html" %}
{% endblock %}

{% block scripts %}
{% if not error %}
{% include "partials/auth_runtime_config.html" %}
<script src="/static/auth/auth.js?v=20260325a"></script>
{% endif %}
{% endblock %}
